.card {
    margin: 50px;
}

#buttonLogout{
    text-align: center;
    padding-top: 10px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    text-align: center;
    padding-top: 10px;
    margin: 5px;
}